/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json
yarn.lock
.phpunit.result.cache
.php_cs.cache
.idea
sftp-config.json


#Ignore /public but not...
/public/*
!/public/modules
!/public/fonts
!/public/js
!/public/svg
!/public/css
!/public/themes
/public/themes/*
!/public/themes/imaginatheme
!/public/index.php
!/public/.htaccess
!/public/robots.txt
!/public/mix-manifest.json
 
#Themes but not ImaginaTheme
/Themes/*
!/Themes/ImaginaTheme
#Modules but not Modules Icustom
/Modules/*
!Modules/Icustom


