/* Extra */

.cover-img {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
}


.cover-img-16 {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  display: block;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
}

.cover-img-4-3 {
  height: 0;
  padding-bottom: 75%;
  position: relative;
  display: block;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
  }
}

.cover-img-1 {
  height: 0;
  padding-bottom: 86.6666%;
  position: relative;
  display: block;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
  }
}

button:focus {
  outline: 0 !important;
}

.title-primary {
  position: relative;
  h2, h1 {
    @include font-size(24px);
    color: #333333;
    font-weight: bold;
  }
}

.title-arrow {
  position: relative;

  h2, h1 {
    @include font-size(28px);
    color: #333333;
    display: inline-block;
    position: relative;
    z-index: 9;
    font-weight: 400;
  }

  &:before {
    content: '';
    background-color: #c4c4c4;
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card-product {
  border-bottom: 2px solid #e6e6e6;

  del {
    color: #808080;
    font-size: 14px;
    font-weight: 600;
  }

  .desc {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $warning;
    position: absolute;
    right: 15px;
    top: 15px;
    color: #333333;
    min-width: 60px;
    text-align: right;
    padding: 8px 10px;
    line-height: 12px;
    font-weight: 500;
    @include font-size(13px);
    strong {
      font-weight: bold;
      @include font-size(16px);
    }
  }
  .new {
    position: absolute;
    right: 15px;
    top: 0;
    width: 100px;
    .cls-1{
      fill:$primary;
    }
    .cls-2{
      font-size:14px;
      font-weight:700;
      }
      .cls-2,.cls-4{
        fill:#fff;
      }
      .cls-3{
        letter-spacing:-0.01em;
      }
      .cls-4{
        font-size:12.37px;
        letter-spacing:0.05em;
      }
      .cls-5{letter-spacing:0.04em;}
      .cls-6{letter-spacing:0.04em;}
      .cls-7{letter-spacing:0.05em;}
  }
  .not {
    position: absolute;
    right: 15px;
    top: 0;
    width: 100px;
    .cls-1{fill:$danger;}
    .cls-2{font-size:12.37px;fill:#fff;letter-spacing:0.04em;}
    .cls-3{letter-spacing:0.05em;}
    .cls-4{letter-spacing:0.04em;}
    .cls-5{letter-spacing:0.01em;}
    .cls-6{letter-spacing:0.05em;}
  }

  .bg-img {
    height: 260px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    position: relative;



    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .category {
    @include font-size(10px);
    color: #808080;
    text-transform: uppercase;
  }

  .price {
    @include font-size(22px);
    color: #333;
    font-weight: bold;
  }

  .name {
    @include font-size(16px);
    color: #333;
    line-height: 1.3;
    min-height: 40px;
    display: block;
  }

  .summary {
    padding-right: 15px;
    @include font-size(14px);
  }

  .icon {
    color: #929292;
    @include font-size(22px);
  }

  .cart {
    @include font-size(10px);
    display: none;
  }

  .cart-no {
    @include font-size(10px);
    display: block;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    .cart {
      display: block;
    }

    .cart-no {
      display: none;
    }

    .price, .icon {
      color: $primary;
    }
  }
}

.card-product-mini {
  border-bottom: 2px solid #e6e6e6;

  .bg-img {
    height: 120px;
    padding: 1px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .category {
    @include font-size(10px);
    color: #808080;
    text-transform: uppercase;
  }

  .price {
    @include font-size(18px);
    color: #333;
  }

  .name {
    @include font-size(16px);
    color: #333;
  }

  .icon {
    color: #929292;
    @include font-size(18px);
  }

  .cart {
    @include font-size(10px);
    display: none;
  }

  .cart-no {
    @include font-size(10px);
    display: block;
  }

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    .cart {
      display: block;
    }

    .cart-no {
      display: none;
    }

    .price, .icon {
      color: $primary;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.filters {

  .title-filter {
    @include font-size(16px);
    color: #333333;
    border-bottom: 1px solid #e6e6e6;
  }

}

.filter-range-prices {
  .amount {
    color: #555555;
    @include font-size(13px);
  }
  .ui-widget.ui-widget-content {
    border: 0;
    height: 4px;
    background: #d2d2d2;
    .ui-widget-header {
        background: #d2d2d2;
    }
    .ui-state-default {
      border: 0;
      background:  $primary;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      &:focus {
        overflow: 0 !important;
      }
    }
  }
}

.filter-order-by {
  color: #555555;
  @include font-size(14px);
}

.filter-categories {

  .list-group-item {
    padding: 0;
    border: 0;
    .item {
      
      h5 {
        color: #333333;
        @include font-size(16px);
        background-color: #f0f0f0;
        font-weight: 400;
        border-radius: 0 20px 0 0;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 0;
        .angle:before {
          content: "\f105";
          font-weight: bold;
        }
      }

      &:hover {
        h5 {
          color: $primary;
        }
      }
    }

    .item[aria-expanded="true"] {
      h5 {
        color: $primary;
        margin-bottom: 0;


        .angle:before {
          content: "\f107";
        }
      }
    }
  }
  .multi-collapse {
    .list-group-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      .item {
        
        h5 {
          background-color: $white;
          @include font-size(16px);   
          margin-bottom: 0;
          .angle:before {
            content: none;
          }
          &:before {
            color: $primary;
            content: "•";
          }
        }

        &:hover {
          color: $primary;
        }
      }
      .item[aria-expanded="false"] {
        h5 {
          .angle:before {
            content: "\f105";
          }
          &:before {
            content: none;
          }
        }
      }
      .item[aria-expanded="true"] {
        h5 {
          color: $primary;
          margin-bottom: 0;
          &:before {
            content: none;
          }

          .angle:before {
            content: "\f107";
          }
        }
      }
    }
    .multi-collapse {
      .list-group-item {
        border-bottom: 0;
        h5 {
          margin-left: 30px;
          padding: 2px 0;
          &:before {
            content: '-';
          }
          .angle:before {
            content: none;
          }
        }
      }
    }
  }
}
.categories-children {

  .bg-light {
    background-color: #E4E4E4 !important;
  }

  .text-main {
    font-weight: bold;
    @include font-size(20px);
    color: #262626;
  }

  .item {
    h5 {
      color: #444444;
      font-weight: bold;
      @include font-size(16px);

      .angle:before {
        content: "\f105";
        font-weight: bold;
      }
    }

    &:hover {
      h5 {
        color: $primary;
      }
    }
  }

  .item[aria-expanded="true"] {
    h5 {
      color: $primary;

      .angle:before {
        content: "\f107";
      }
    }
  }

  .multi-collapse {
    a {
      color: #000000;

      @include font-size(16px);

      &:hover {
        color: $primary;
      }
    }
  }
}

.breadcrumb {
  @include font-size(12px);
  padding: 0.66rem 1rem;

  .breadcrumb-item.active {
    color: #262626;
    font-weight: bold;
  }

  .breadcrumb-item {
    a {
      font-weight: bold;
      color: #262626;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: #262626;
    font-weight: bold;
  }
  .breadcrumb-item + .breadcrumb-item {
      font-weight: bold;
      &:before {
      color: #262626;
      font-weight: bold;
    }
  }
}

.icommerce-index {

  .total-products{
    color: #555555;
    @include font-size(14px);
  }

  .text-category {
    font-weight: bold;
    @include font-size(20px);
    color: $primary;
  }

  .top-content {
    .title-category {
      color: #333333;
      @include font-size(20px);
    }
    .summary-category {
      color: #444444;
      @include font-size(15px);
    } 
  }
}


.pagination {

  .page-link {
    padding: 0.5rem 0.75rem;
    color: #AAAAAA;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 0 !important;
    @include font-size(16px);
    min-width: 40px;
    display: flex;
    justify-content: center;
  }
  .page-item.active .page-link {
    background-color: #AAAAAA;
    border-color: #DCDCDC;
  }
  .page-item.disabled .page-link {
    border-color: #DCDCDC;
  }
}


.pestana {
  border-bottom: 1px solid #eaeaea;

  > div {
    font-weight: bold;
    @include font-size(25px);
    display: inline-block;
    border-top-right-radius: 10px;
    color: #333333;
    padding: 3px 25px;
  }
}

.pestana-small > div {
  @include font-size(18px);
  padding: 4px 15px;
}

.tag-container {
  .tag {
    background-color: #e6e6e6;
    color: #444444;
    font-size: 18px;
    margin: 2px;
    text-align: center;
    padding: 9.5px 20px;
    display: block;
  }
}

.list-category {
  a {
    color: #333333;
    @include font-size(18px);
    font-weight: 500;
  }
}

/* owl with icon top right*/
.owl-top-right {
  .owl-prev {
    position: absolute;
    top: -65px;
    right: 18px;
    display: block !important;
    border: 0;
    background: transparent !important;
  }

  .owl-next {
    position: absolute;
    top: -65px;
    right: -10px;
    display: block !important;
    border: 0;
    background: transparent !important;
  }

  .owl-prev .owl-icon-left {
    transform: rotate(180deg);
  }

  .owl-prev .owl-icon-left, .owl-next .owl-icon-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23333;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='Capa 2'%3E%3Cg%3E%3Cpath class='cls-1' d='M8.5,17A8.5,8.5,0,1,1,17,8.5,8.51,8.51,0,0,1,8.5,17Zm0-16A7.5,7.5,0,1,0,16,8.5,7.51,7.51,0,0,0,8.5,1Z'/%3E%3Cpath class='cls-1' d='M12.21,8.2,9.44,5.43a.45.45,0,0,0-.29-.12.45.45,0,0,0-.3.12l-.25.26A.38.38,0,0,0,8.48,6a.42.42,0,0,0,.12.3L10.21,7.9H5.08a.41.41,0,0,0-.41.41v.36a.42.42,0,0,0,.41.43h5.15L8.6,10.73a.38.38,0,0,0-.12.29.4.4,0,0,0,.12.29l.25.25a.42.42,0,0,0,.3.13.41.41,0,0,0,.29-.13L12.21,8.8a.44.44,0,0,0,0-.6Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    padding: 0;
    background-repeat: no-repeat;
    background-color: transparent !important;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23333;%7D%3C/style%3E%3C/defs%3E%3Cg data-name='Capa 2'%3E%3Cg%3E%3Cpath class='cls-1' d='M8.5,17A8.5,8.5,0,1,1,17,8.5,8.51,8.51,0,0,1,8.5,17Zm0-16A7.5,7.5,0,1,0,16,8.5,7.51,7.51,0,0,0,8.5,1Z'/%3E%3Cpath class='cls-1' d='M12.21,8.2,9.44,5.43a.45.45,0,0,0-.29-.12.45.45,0,0,0-.3.12l-.25.26A.38.38,0,0,0,8.48,6a.42.42,0,0,0,.12.3L10.21,7.9H5.08a.41.41,0,0,0-.41.41v.36a.42.42,0,0,0,.41.43h5.15L8.6,10.73a.38.38,0,0,0-.12.29.4.4,0,0,0,.12.29l.25.25a.42.42,0,0,0,.3.13.41.41,0,0,0,.29-.13L12.21,8.8a.44.44,0,0,0,0-.6Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.card-post {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;

  .category {
    @include font-size(14px);
    font-weight: 500;
  }

  .card-title {
    @include font-size(20px);
    font-weight: bold;

    a {
      color: #333333;
    }
  }

  .card-text {
    @include font-size(16px);
    color: #444444;
  }

  .date {
    @include font-size(11px);
    color: #808080;
  }
}

.card-post-mini {
  margin-bottom: 15px;

  .category {
    @include font-size(10px);
    font-weight: 500;
  }

  .title {
    font-weight: bold;
    @include font-size(14px);

    a {
      color: #444444;
    }
  }

  .date {
    @include font-size(12px);
    color: #808080;
  }

  .card-text {
    @include font-size(12px);
    color: #444444;
  }

}

.card-post-big {

  .title-category {
    @include font-size(20px);
    font-weight: bold;
  }

  .title {
    @include font-size(34px);
    color: #333333;
    font-weight: bold;
  }

  .date {
    @include font-size(13px);
    color: #808080;
  }

  .share-box .share-box-wrap .share-box .social-share li {
    display: block;
  }

}

.blog {
  .banner {
    img {
      width: 100%;
    }
  }
}

.owl-svg {
  .next-icon {
    transform: rotate(180deg);
  }

  .prev-icon, .next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.67 30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23c4c4c4;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='Capa_2' data-name='Capa 2'%3E%3Cg id='Capa_1-2' data-name='Capa 1'%3E%3Cpath class='cls-1' d='M0,15.34a10.2,10.2,0,0,0,.78,1.05q6.5,6.52,13,13a1.69,1.69,0,0,0,1.12.58,1.44,1.44,0,0,0,1.41-.77,1.48,1.48,0,0,0-.1-1.65,3.16,3.16,0,0,0-.39-.43L5.57,16.91l-.37-.39h.57q17.49,0,35,0a1.78,1.78,0,0,0,1.92-1.19v-.67a1.74,1.74,0,0,0-1.87-1.19q-17.52,0-35,0H5.3c0-.06-.09-.12-.14-.17a2.65,2.65,0,0,0,.44-.25L15.94,2.73a1.61,1.61,0,0,0,.58-1.19A1.46,1.46,0,0,0,15.67.17,1.44,1.44,0,0,0,14,.37l-.32.31Q7.25,7.15.78,13.62A10.2,10.2,0,0,0,0,14.67Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 35px;
    height: 35px;
    padding: 0;
    background-repeat: no-repeat;
    background-color: transparent !important;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.67 30'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23212023;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='Capa_2' data-name='Capa 2'%3E%3Cg id='Capa_1-2' data-name='Capa 1'%3E%3Cpath class='cls-1' d='M0,15.34a10.2,10.2,0,0,0,.78,1.05q6.5,6.52,13,13a1.69,1.69,0,0,0,1.12.58,1.44,1.44,0,0,0,1.41-.77,1.48,1.48,0,0,0-.1-1.65,3.16,3.16,0,0,0-.39-.43L5.57,16.91l-.37-.39h.57q17.49,0,35,0a1.78,1.78,0,0,0,1.92-1.19v-.67a1.74,1.74,0,0,0-1.87-1.19q-17.52,0-35,0H5.3c0-.06-.09-.12-.14-.17a2.65,2.65,0,0,0,.44-.25L15.94,2.73a1.61,1.61,0,0,0,.58-1.19A1.46,1.46,0,0,0,15.67.17,1.44,1.44,0,0,0,14,.37l-.32.31Q7.25,7.15.78,13.62A10.2,10.2,0,0,0,0,14.67Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .owl-prev {
    position: absolute;
    top: 40%;
    margin: 0 !important;
    margin-left: -40px !important;
    display: block !important;
    background: transparent !important;
    outline: 0 !important;
    border-radius: 50% !important;
  }

  .owl-next {
    position: absolute;
    top: 40%;
    right: -40px;
    margin: 0 !important;
    display: block !important;
    background: transparent !important;
    outline: 0 !important;
    border-radius: 50% !important;
  }

  .owl-nav {
    display: block !important;
    margin-top: 0;
  }

  @include media-breakpoint-up(xl) {
    .owl-prev {
      margin-left: -60px !important;
    }

    .owl-next {
      right: -60px;
    }
  }

  @include media-breakpoint-down(md) {
    .owl-nav {
      display: none !important;
    }
  }

}

.product {

  .price-desc {
    color: #808080;
    @include font-size(18px);
      del {
      font-weight: 600;
    }
  }

  .desc {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: $warning;
    position: absolute;
    right: 15px;
    top: 0;
    color: #333333;
    min-width: 60px;
    text-align: right;
    padding: 8px 10px;
    line-height: 12px;
    font-weight: 500;
    @include font-size(13px);
    strong {
      font-weight: bold;
      @include font-size(16px);
    }
  }
  .new {
    position: absolute;
    right: 15px;
    top: 0;
    width: 100px;
    .cls-1{
      fill:$primary;
    }
    .cls-2{
      font-size:14px;
      font-weight:700;
      }
      .cls-2,.cls-4{
        fill:#fff;
      }
      .cls-3{
        letter-spacing:-0.01em;
      }
      .cls-4{
        font-size:12.37px;
        letter-spacing:0.05em;
      }
      .cls-5{letter-spacing:0.04em;}
      .cls-6{letter-spacing:0.04em;}
      .cls-7{letter-spacing:0.05em;}
  }


  .social {
    position: relative;
    a {
      font-size: 16px;
    }
    a.svg {
      padding-right: 16px;
      svg {
        width: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .bg-image {
    .img-mini {
      width: 67px;
      padding: 2px;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .img-big {
      background-color: #d2d2d2;
      padding: 1px;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    @include media-breakpoint-down(xs) {
      .img-mini {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .category {
    @include font-size(18px);
    color: #808080;
  }

  .name {
    @include font-size(34px);
    color: #303030;
    margin: 17px 0;
  }

  .options, .icommerce-option {
    @include font-size(16px);
    color: #545454;
  }

  .price {
    @include font-size(36px);
    line-height: 1.9rem;
  }

  .label {
    color: #e8210c;
    text-transform: uppercase;
    @include font-size(16px);
    font-weight: bold;
    background-color: #f0f0f0;
  }

  hr {
    border-color: #CBCBCB !important;
  }

  .pay {
    @include font-size(14px);
  }

  .bg-img1 {
    img {
      height: 31px;
      display: block;
      margin: 0 auto;
    }

    color: #555555;
    @include font-size(11px);
  }

  .bg-img2 {
    img {
      height: 35px;
      display: none;
    }
  }

  .bg-img3 {
    img {
      height: 42px;
    }

    color: #666666;
    @include font-size(14px);
  }

  .description {
    @include font-size(18px);
    color: #545454;
  }

  .btn, .quantity {
    @include font-size(20px);
    font-weight: bold;
  }

  .btn-comprar {
    svg {
      width: 20px;

      .cls-1 {
        fill: #ffffff;
      }
    }
  }
  .btn-heart {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    svg {
      width: 20px;

      .cls-1 {
        fill: #999999;
      }
    }
    &:hover {
      background-color: #999999;
      svg {
        .cls-1 {
          fill: $white;
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: 0;

    .nav-link {
      border: 0 !important;
      border-right: 1px solid #CBCBCB !important;
      border-radius: 0;
      color: #555555;
      @include font-size(18px);

      &:hover {
        color: $primary;
      }
    }

    .nav-link.active {
      color: $primary;
      border: 0 !important;
      border-right: 1px solid #CBCBCB !important;
      border-radius: 0;
      font-weight: bold;
    }

    @include media-breakpoint-down(sm) {
      .nav-link {
        @include font-size(14px);
      }
    }
  }

}

.checkout {
  .pointer {
    .rounded-circle {
      width: 40px;
      height: 40px;
    }
  }

  .form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    height: auto !important;
  }

  .cart-img {
    img {
      font-size: 1px;
    }
  }

  h3, .h3 {
    @include font-size(23px);
  }

  h5, .h5 {
    @include font-size(15px);
  }

  .input-group {
    .btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem;
    }
  }

  label {
    font-weight: 600;
    font-size: 14px;
  }

  .input-group {
    .btn-outline-primary {
      color: #444;
      background-color: #D9D9D9;
      border-color: #D9D9D9;
      font-weight: bold;

      &:hover {
        color: #444;
        background-color: #c6c6c6;
        border-color: #c0bfbf;
      }
    }

    .border-primary {
      border-color: #D9D9D9 !important;
      background-color: #D9D9D9 !important;
      font-weight: bold;
      text-align: center;
    }
  }

  .cart-remove {
    .fa-times {
      position: relative;
      right: -30px;
      font-size: 15px;
      color: $danger;
      cursor: pointer;
    }
  }

  .btn-success {
    color: $white;
    background-color: $info;
    border-color: $info;

    &:hover {
      color: $white;
      background-color: darken($info, 15%);
      border-color: darken($info, 15%);
    }
  }
}

.carousel-store {
  .carousel-indicators li {
    background-color: #8e8b8b;
  }
}

/* =========== PRELOADER ============ */
#content_preloader {
  position: absolute;
  z-index: 999999999;
  background-color: white;
  height: 100%;
  width: 100%;
}

#preloader {
  width: 70px;
  height: 70px;
  border: 10px solid $light;
  border-top: 10px solid $primary;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 0.80s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  position: absolute;
  left: 50%;
  margin-left: -42.5px; /* 50% del ancho de la div en px */

  top: 30%;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-control:focus {
  border-color: currentColor !important;
}


//Test the compilation
//body {background-color:#FF0000 !important;}