.banner{
    background-color: #A3AAC2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.25rem;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.9);
    color: #fff !important;
}

.border-top-dotted {
    border-color: #CCCCCC;
    border-top-style: dotted !important;
    border-width: 3px !important;
}

.border-bottom-dotted {
    border-color: #CCCCCC;
    border-bottom-style: dotted !important;
    border-width: 3px !important;
}

.form-control {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.page-profile .form-control, 
.page-profile .custom-select {
    color: #333333;
    font-size: 1.25rem;
}