@import "bootstrap";


body{
  min-width: 320px;
}

a{
  &:hover{
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.edit-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* GENERAL STYLES */
a svg g .imaginalogo {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
